[Desktop Entry]
Encoding=UTF-8
Name=xbarrel
Comment=Cylinder Puzzle of Japanese origin
Comment[pl]=Układanka z cylindrów, japońskiego pochodzenia
Type=Application
Exec=xbarrel
Categories=Motif;Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
