[Desktop Entry]
Encoding=UTF-8
Name=xdino
Comment=Triangle - 4 Cube - Dinosaur puzzle
Comment[pl]=Puzzle "kostka - 4 trójkąty - dinozaur"
Type=Application
Exec=xdino
Categories=Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
