[Desktop Entry]
Encoding=UTF-8
Name=xmball
Comment=Masterball puzzle
Comment[pl]=Układanka Masterball
Type=Application
Exec=xmball
Categories=Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
