[Desktop Entry]
Encoding=UTF-8
Name=xoct
Comment=Magic Octahedron puzzle
Comment[pl]=Układanka "magiczny ośmiościan"
Type=Application
Exec=xoct
Categories=Motif;Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
