[Desktop Entry]
Name=xpanex
Comment=The Panex puzzle
Comment[pl]=Układanka Panex
Type=Application
Exec=xpanex
Categories=Motif;Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
