[Desktop Entry]
Encoding=UTF-8
Name=xpanex
Comment=The Panex puzzle
Comment[pl]=Układanka Panex
Type=Application
Exec=xpanex
Categories=Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
