[Desktop Entry]
Encoding=UTF-8
Name=xpyraminx
Comment=Triangle puzzle
Comment[pl]=Układanka z trójkątów
Type=Application
Exec=xpyraminx
Categories=Motif;Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
