[Desktop Entry]
Name=xrubik
Comment=The Rubik's Cube
Comment[pl]=Kostka Rubika
Type=Application
Exec=xrubik
Categories=Motif;Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
