[Desktop Entry]
Name=xskewb
Comment=Puzzle with faces cut by a diamond
Comment[pl]=Układanka o powierzchni pociętej diamentem
Type=Application
Exec=xskewb
Categories=Motif;Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
