[Desktop Entry]
Encoding=UTF-8
Name=xthreed
Comment=Threed X widget
Comment[pl]=Kontrolka X Threed
Type=Application
Exec=xthreed
Categories=Motif;Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
