[Desktop Entry]
Name=xtriangles
Comment=A sliding tile puzzle
Comment[pl]=Układanka ślizgających się kafelków
Type=Application
Exec=xtriangles
Categories=Motif;Game;LogicGame;
Terminal=false
# vi: encoding=utf-8
